{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'flowers/css/style.css' %}?version={% now 'U' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Perfect Flowers</title>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="logo">
            <div class="_container">
                <div class="logo__row">
                    <div class="logo__body">
                        <div class="logo__title">
                            Perfect blue
                        </div>
                        <div class="logo__subTitle">
                            несу тебе букетик через интернетик
                        </div>
                    </div>
                </div>
                <div class="logo__img _imd">
                    <img src="{% static 'flowers/images/Rectangle 1.png' %}" alt="img">
                </div>
            </div>
        </div>
        <header class="header">
            <div class="head">
                <div class="_container">
                    <ul class="navigation">
                        {% for m in menu %}
                        <li><a href="{% url m.url %}">{{ m.title }}</a></li>
                        {% endfor %}
                        <input type="text" placeholder="Поиск">
                        <li>
                            <div>
                                {% with total_items=cart|length %}
                                {% if cart|length > 0 %}

                                <a href="{% url 'cart:cart_detail' %}">
                                    Ваша корзина:
                                    {{ total_items }} товар, {{ cart.get_total_price }} руб.
                                </a>
                                {% else %}
                                Ваша корзина пуста.
                                {% endif %}
                                {% endwith %}
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                    <div class="listWindow">
                        <div class="search">
                            <input type="text" placeholder="Поиск">
                            <a href="#"><img src="img/image 3.png" alt=""></a>
                        </div>
                        <ul class="window__list">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Хит продаж</a></li>
                            <li><a href="#">Корзина</a></li>
                            <li><a href="#">Профиль</a></li>
                        </ul>
                        <div class="sort">
                            <div class="sort__title">
                                Ассортимент
                            </div>
                            <ul class="sort__list">
                                <li><a href="#">Розы</a></li>
                                <li><a href="#">Тюльпаны</a></li>
                                <li><a href="#">Ландыши</a></li>
                                <li><a href="#">Ромашки</a></li>
                                <li><a href="#">Хризантемы</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% block header %}
            {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="_container">
            <div class="footer__row">
                <div class="footer__contacts">
                    <div class="contacts__title">
                        Наши контакты:
                    </div>
                    <div class="phoneNumbers__row">
                        <div class="contacts__names">
                            Тех. поддержка
                            Служба доставки
                        </div>
                        <div class="contacts__list">
                            +7 (969)-280-7706
                            +7 (965)-193-3231
                        </div>
                    </div>
                </div>
                <div class="footer__logo">
                    Лого или название
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="js/script.js"></script>
</body>
</html>