{% extends 'flowers/base.html' %}
{% block header %}
<div class="sub__head">
    <div class="_container">
        <div class="subHead__row">

            <ul class="range">
                {% for c in categories %}
                <li><a href="{{ c.get_absolute_url }}">{{ c }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<main class="main">
    <div class="main__titleBlock">
        <div class="_container">
            <div class="main__title">
                Все товары
            </div>
        </div>
    </div>
    <div class="main__body">

        <div class="_container">

            <div class="main__row">


                <div class="main__page">
                    {% for f in flowers %}

                    <div class="page__body">

                        <div class="page__title">
                            {{ f.title }}
                        </div>
                        <div class="page__image">
                            <img src="{{ f.image.url }}" alt="">
                        </div>
                        <div class="page__text">
                            {{ f.description }}
                        </div>
                        <div class="page__price">
                            {{ f.price }}
                        </div>
                        <div class="page__link">
                            <a href="{{ f.get_absolute_url }}">
                                Перейти к товару
                            </a>
                        </div>

                    </div>

                </div>
                <div class="main__page">
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>
    </div>
    <div class="showMore">
        <div class="_container">
            <div class="showMore__body">
                <button class="showMore__button" href="#">Показать ещё</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}