{% extends 'flowers/base.html' %}
{% block content %}
<div class="_container">
    <div>
        <h1 class="post-title">{{ post }}</h1>
        <img class="post-image" src="{{ post.image.url }}" alt="image">
        <div>
            {{ post.description }}
        </div>
        <div>
            <form action="{% url 'cart:cart_add' post.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <button class="buy" type="submit" value="Add to cart">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}