{% extends 'flowers/base.html' %}
{% block content %}
<div class="_container">
    <div>
        <h1 class="post-title">{{ post }}</h1>
        <img class="post-image" src="{{ post.image.url }}" alt="image">
        <div>
            {{ post.description }}
        </div>
        <div>
            <form method="post", action="">
                {% csrf_token %}
                <button class="buy" type="submit" name="add_to_cart">Купить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}