{% extends 'flowers/base.html' %}
{% block content %}
<div class="_container">
    <div>
        <h1 class="post-title">{{ post }}</h1>
        <img class="post-image" src="{{ post.image.url }}" alt="image">
        <div>
            {{ post.description }}
        </div>
        <div>
            <form method="post" , action="">
                {% csrf_token %}
                <button class="buy" type="submit" name="add_to_cart">Купить</button>
            </form>
            <form action="{% url 'cart:cart_add' post.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
            </form>
        </div>
    </div>
</div>
{% endblock %}